<html>
	<head>
		<script type="text/javascript" src="{{STATIC_URL}}/users/admin/jquery-1.6.4.min.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}/users/admin/jquery.cookie.js"></script>
	</head>
	<body>
	    <script type="text/javascript" charset="utf-8">
	        $(document).ready(function(){

	        	var token = dictFromHash(window.location.hash)["#access_token"];
	        	
	        	if(token == undefined){
	        		token = dictFromHash(window.location.hash)["access_token"];
	        	}
	        	
	        	console.log(token);
	        	
	            $.cookie("mss", token, {'path':'/'});
	            window.close()
	        });
	        
			var dictFromHash = function(hash){
			    var lista;
			    if( ! hash ){
			        lista = [];
			    }else{
			        lista = hash.split("&");
			    }
				var dict = {};

	            for(var i = 0; i < lista.length; i++) {
					var elemento = lista[i];
					var propriedade = elemento.split('=')[0];
					var valor = elemento.split('=')[1];
					if( propriedade != 'imgCabecalho' ){
					    valor = valor.replace(':',"#");
					}
					dict[propriedade] = valor;
				}
				return dict;
			};
	        
		</script>
	</body>
</html>